@import url('variables.css');
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

.layout {
  place-items: center;
  min-width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  align-self: stretch;
}

.app {
  display: flex;
  flex-direction: column;

  min-width: 100vw;
  min-height: 100vh;
}

html[data-theme='dark'] .app {
  background: rgb(15, 13, 13);
}
html[data-size='xs'] {
  font-size: 12px;
}
html[data-size='sm'] {
  font-size: 14px;
}
html[data-size='md'] {
  font-size: 16px;
}
html[data-size='lg'] {
  font-size: 18px;
}
html[data-size='xl'] {
  font-size: 22px;
}