@import url('variables.css');
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
}
.layout {
  place-items: center;
  min-width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  align-self: stretch;
}

.app {
  display: flex;
  flex-direction: column;

  min-width: 100vw;
  min-height: 100vh;
}

html {
  -webkit-tap-highlight-color: transparent;
}
html[data-size='xs'] {
  font-size: 12px;
}
html[data-size='sm'] {
  font-size: 14px;
}
html[data-size='md'] {
  font-size: 16px;
}
html[data-size='lg'] {
  font-size: 18px;
}
html[data-size='xl'] {
  font-size: 22px;
}

html[data-glass='true'] .section-fade-in {
  opacity: 0;
  animation: sectionFadeIn 0.25s forwards;
}

html[data-drawer-open='true'] body{
  overflow: hidden;
}

textarea::placeholder {
  color: var(--text-300); /* Firefox */
}

@keyframes sectionFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
