.player-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.player-wrapper.fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  z-index: 100;
  padding-bottom: 56.25%;
}

.player-fullscreen-backdrop {
  height: 100vh;
  top: 0;
  left: 0;
  width: 100vw;
  background: rgba(0, 0, 0, 0.658);
  position: fixed;
  z-index: 99;
}

.player-fullscreen-overlay {
  height: calc(100vh - 100px);
  top: 0;
  left: 0;
  width: 100vw;
  position: fixed;
  z-index: 101;
  cursor: none;
}

.player-fullscreen-overlay.isMovingMouse {
  pointer-events: none;
  cursor: auto;
  cursor: none;
}

.player-fullscreen-overlay button {
  bottom: 6rem;
  right: 2rem;
  pointer-events: all;
  position: absolute;
  z-index: 1000;
}
