.player-backdrop {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  z-index: -1;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-100);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 1s normal ease;
}

.player-backdrop__image-container {
  width: 90%;
  object-fit: cover;
  aspect-ratio: 1/1;
  -webkit-animation: rotate 45s normal ease infinite, blobby 17s normal ease infinite;
  animation: rotate 45s normal ease infinite, blobby 17s normal ease infinite;
  animation-play-state: paused;
  overflow: hidden;
  mix-blend-mode: hard-light;
}

@media (min-width: 1250px) {
  .player-backdrop__image-container {
    width: 60vw;
  }
}

.player-backdrop__image {
  position: absolute;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transform: scale(-100%, -100%);
  transition: opacity 3000ms ease;
  opacity: 0;
}

.player-backdrop__image.fade-in {
  opacity: 0.3;
}

.player-backdrop__blur {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  left: 0;
  backdrop-filter: blur(70px);
}

html[data-theme='light'] .player-backdrop__blur {
  backdrop-filter: blur(60px);
}

html[data-theme='light'] .player-backdrop__image-container {
  mix-blend-mode: normal;
}

.player-backdrop.animate .player-backdrop__image-container {
  animation-play-state: running;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
@keyframes blobby {
  0% {
    border-radius: 50%;
  }
  20% {
    border-radius: 41% 59% 41% 59% / 53% 51% 49% 47%;
  }
  40% {
    border-radius: 43% 57% 41% 59% / 53% 52% 48% 47%;
  }
  80% {
    border-radius: 48% 52% 41% 59% / 48% 58% 42% 52%;
  }
  100% {
    border-radius: 54% 46% 60% 40% / 43% 55% 45% 57%;
  }
}
