.desktop-queue-drag {
  opacity: 0;
  transition: opacity 200ms ease;
}

.desktop-queue-item {
  transition: background 200ms ease;
}

.desktop-queue-item.current {
  border: 1px solid red;
}

.desktop-queue-item:hover .desktop-queue-drag,
.desktop-queue-item.menu-open .desktop-queue-drag,
.desktop-queue-item.is-dragging .desktop-queue-drag {
  opacity: 1;
}

.desktop-queue-item:hover,
.desktop-queue-item.menu-open,
.desktop-queue-item.is-dragging {
  background: var(--bg-alpha-200);
}

.queue-item-play-icon {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transition: opacity 800ms ease;
  transform: translate(-50%, -50%);
}
.desktop-queue-item:hover .queue-item-play-icon {
  opacity: 1;
  visibility: visible;
}

.desktop-queue-backdrop {
  content: '""';
  position: 'absolute';
  top: 0;
  left: 0;
  width: '100%';
  height: '100%';
  z-index: -1;
}
