.mobile-item-mask {
  -webkit-mask-image: linear-gradient(95deg, rgb(0, 0, 0), rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 75%);
  mask-image: linear-gradient(95deg, rgb(0, 0, 0), rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 75%);
}

.mobile-queue-snackbar {
  flex-grow: 1;
  position: relative;
  min-height: 0;
  z-index: 14;
}

.mobile-queue-content {
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 15;
  transition: height 500ms ease-in-out;
}

.mobile-queue-content.expanded {
  height: calc(100vh - 7rem);
  bottom: 0;
  top: auto;
}
